<div flex="40">
<md-dialog aria-label="Create token"  ng-cloak>
    <form name="newTokenForm"  class="light-gray-background">
        <md-toolbar class="crypti">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button close-btn" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content header-content"><h1>Create a new Token</h1>
            <span>Please fill out all fields.</span></div>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Token Name</label>
                    <input ng-model="newToken.description" name="description" type="text" ng-disabled="sending">

                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Tiker</label>
                    <input ng-model="newToken.name" type="text"  ng-disabled="sending">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Amount</label>
                    <input ng-model="newToken.amount" type="number"  ng-disabled="sending">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm ng-if="!secret">
                    <label>Your Passphrase {{!secret}} {{secret}}</label>
                    <input ng-model="newToken.secret" type="password"  ng-disabled="sending">
                </md-input-container>

                <div ng-if="error">
                    <div class="error">{{error}}</div>
                </div>
            </div>
            <div class="md-dialog-content footer-content">
                <span><md-icon class="info-icon"></md-icon> The tiker is the abbreviation of your token, for example XCR. The amount needs to be between 1 and 100,000,000.</span></div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()"  ng-disabled="sending">
               cancel
            </md-button>
            <md-button class="main-action" ng-click="create()" style="margin-right:20px;"  ng-disabled="sending">
                create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
</div>
