<div class="login-wrap">
    <div layout="row">
        <div flex="30" flex-md="40" flex-gt-md="40">

        </div>
        <div flex="35" flex-md="20" flex-gt-md-lg="20">
            <div class="login-form">
                <div class="vertical-wrap">
                    <div class="vertical-content">
                        <div class="login-window">
                            <div class="header"></div>
                            <div class="body">
                                <md-content layout-padding>
                                    <div>
                                        <form name="loginForm" ng-submit="login(pass,remember)">
                                            <div layout-gt-sm="row">
                                                <md-input-container class="md-block" flex-gt-sm>
                                                    <label>Your Passphrase</label>
                                                    <input ng-model="pass" name="pass" type="password">
                                                </md-input-container>
                                            </div>
                                            <div layout-gt-sm="row">

                                                <md-switch  class="md-raised" name="remember" class="" ng-model="remember"
                                                           aria-label="Remember during this session">
                                                    Remember during this session
                                                </md-switch>
                                            </div>
                                            <div layout-gt-sm="row">
                                                <span flex></span>
                                                <md-button ng-click="login(pass, remember)" class="md-raised md-primary">Sign in
                                                </md-button>
                                            </div>
                                        </form>
                                    </div>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex="30" flex-md="40" flex-gt-md="40">

        </div>

    </div>
    <div class="footer">Crypti 2015
    </div>
</div>